@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}
body {
  min-height: 100vh;
  width: 100vw;
  background: #ccc;
  font-family: "Poppins", sans-serif;
}
.container {
  width: 100%;
  height: 100vh;
}
h1 {
  text-align: center;
  margin-top: 1rem;
}

form {
  display: grid;
  place-items: center;
}

input[type="number"] {
  margin: 0.5rem;
  padding: 0.3rem;
  width: 3em;
  border: none;
  border-radius: 0.5em;
}

label {
  font-size: 1.2rem;
}

.radio {
  display: flex;
}

input[type="radio"] {
  margin: 0.5rem;
}
.btn {
  border: none;
  padding: 0.5rem 1rem;
  background: #333;
  color: #ccc;
  margin: 0.5rem;
  border-radius: 0.5rem;
}
.btn:hover {
  background: #555;
}
main {
  width: 90%;
  height: 60%;
  background: #fff;
  border: 1px solid #000;
  margin: auto;
  overflow: scroll;
  padding: 1rem;
}
main p {
  margin: 1rem 0;
}
